img{
	width: 30%;
	float:left;
	margin:1.66%;
}

#mkc{
		font-family: "Arvo";
		font-size: 25px ;
		margin: 1.66%;
		text-transform: uppercase;
		font-weight: 700;
		text-shadow: transparent;
		width: 15%;
		padding-bottom: 15px;
		border-bottom: 3px solid #f1f1f1;
}